.banner {
    width: 100%;
    height: 100%;
    margin-top: calc(70px + 16px);
}

.banner img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .banner {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .banner img {
        width: 1024px;
    }
}