.container-kits {
    order: 2;
}

.container-kits .banner-kit {
    height: 117px;
    margin: 86px 16px 16px 16px;
}

.container-kits .banner-kit img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.container-kits .kits {
    padding: 32px 16px;
}

.container-kits .kits .cards {
    display: flex;
    column-gap: 16px;
    flex-direction: column;
    row-gap: 16px;
}

.container-kits .kits .cards .card {
    display: flex;
    background-color: var(--white);
    padding: 8px;
    border-radius: 4px;
    height: 156px;
}

.container-kits .kits .cards .card .image {
    display: flex;
    align-items: center;
}

.container-kits .kits .cards .card .image img {
    width: 48px;
    height: 48px;
}

.container-kits .kits .cards .card .content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.container-kits .kits .cards .card .content .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-kits .kits .cards .card .content .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
}

.container-kits .kits .cards .card .content .values {
    display: flex;
    flex-direction: column;
}

.container-kits .kits .cards .card .content .info .values .oldPrice {
    text-decoration: line-through;
    color: var(--medium-grey);
}

.container-kits .kits .cards .card .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-kits .kits .cards .card .content .info .btn {
    width: 124px;
}

@media (min-width: 768px) {
    .container-kits .kits .cards .card .image img {
        width: 100px;
        height: 100px;
    }
}
