<template id="cardKits-template">
    <section class="container-kits" id="container-kits">
        <div class="banner-kit">
            <img src="public/assets/img/banner/bannerEmagrecimento.jpeg" alt="Banner">
        </div>
        <div class="kits">
            <div class="title">
                <h3>Kits de refeições</h3>
            </div>
            <div class="cards">
                <!-- RENDERIZAÇÃO -->
            </div>
        </div>
    </section>
</template>

<template id="cardKits-card-template">
    <div class="card" data-kit-id="">
        <div class="image">
            <img src="public/assets/img/card/cardBasica.png" alt="">
        </div>
        <div class="content">
            <div>
                <div class="header">
                    <h4 class="title"></h4>
                    <span class="badge"></span>
                </div>
                <p class="description"></p>
            </div>
            <div class="info">
                <div class="values">
                    <span class="oldPrice"></span>
                    <span class="price"></span>
                </div>
                <button class="btn btn-green">+ Adicionar</button>
            </div>
        </div>
    </div>
</template>
