.access {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 0 16px;
    margin-top: calc(70px + 16px);
}

.access .title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 16px 0 8px 0;
}

.access .form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.access .form .input {
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--medium-grey);
    outline: none;
    padding: 12px 8px;
}

.access .form .input::placeholder {
    color: var(--medium-grey);
}

.access .recovery {
    display: inline-block;;
    /* text-decoration: underline; */
    color: var(--dark);
}

.access .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.access .content .line {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    margin: 16px 0;
}

.access .content .text {
    text-transform: uppercase;
    background-color: var(--white);
    padding: 0 4px;
}