<template id="filter-template">
    <section class="filter">
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-basica">Básicas</a>
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-ganho-de-massa">Ganho de Massa</a>
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-vegano">Vegano</a>
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-emagrecimento">Emagrecimento</a>
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-manutencao-de-peso">Manutenção de Peso</a>
            <a href="" class="btn btn-default btn-rounded" id="btn-filter-kits">Kits</a>
        </section>
</template>