<template id="cardCategorias-template">
    <section class="container-categorias">
        <div class="title">
            <h3>Categorias</h3>
        </div>
        <button class="carousel-btn prev"><img src="public/assets/img/icons/chevron-left.svg" alt=""></button>
        <div class="cards">
            <!-- RENDERIZAÇÃO -->
        </div>
        <button class="carousel-btn next"><img src="public/assets/img/icons/chevron-right.svg" alt=""></button>
    </section>
</template>

<template id="cardCategorias-card-template">
    <div class="card">
        <div class="image">
            <img src="" alt="">
        </div>
        <div class="content">
            <div>
                <span class="title"></span>
                <p class="description"></p>
            </div>
            <!-- <div class="info">
                <span class="price"></span>
                <span class="weight"></span>
            </div> -->
            <button class="btn btn-green">Saiba mais</button>
        </div>
    </div>
</template>