.container-refeicoes {
    margin: 0 16px;
    position: relative;
    order: 1;
    scroll-margin-top: 70px;
}

.container-refeicoes .cards {
    display: flex;
    column-gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 16px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cards::-webkit-scrollbar {
    display: none;
}

.container-refeicoes .cards .card {
    border: 1px solid var(--medium-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex: 0 0 136px;
    height: 260px;
}


.container-refeicoes .cards .card .image {
    width: 100%;
    height: 100%;
}

.container-refeicoes .cards .card .image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.container-refeicoes .cards .card .content {
    background-color: var(--white);
    padding: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-refeicoes .cards .card .content .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.container-refeicoes .cards .card .content .info {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .container-refeicoes .cards .card {
        flex: 0 0 220px;
        height: 408px;
    }
}
