header {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.list,
.sublist {
    list-style: none;
}

.navbar .logo {
    width: 142px;
    height: 36px;
    display: none;
}

.navbar .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.list .item .logo {
    width: 94px;
    height: 24px;
    display: block;
}

.navbar .sublist {
    position: absolute;
    top: 0;
    left: -1000px;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    display: none;
}

.sublist .link {
    color: var(--dark);
    line-height: 24px;
}

.sublist .item {
    line-height: 32px;
    margin-left: 16px;
}

.list .item .icon {
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) {
    header {
        position: fixed;
        background-color: var(--white);
        width: 100%;
        z-index: 10;
    }

    .navbar {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 32px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .navbar .logo {
        display: block;
        order: 1;
        margin-right: 36px;
    }

    .navbar .list {
        display: flex;
        align-items: baseline;
        column-gap: 32px;
        order: 3;
        margin-left: auto;
    }

    .navbar .list label {
        display: none;
    }

    .navbar .list .item .icon {
        width: 24px;
        height: 24px;
    }

    .navbar .sublist .item {
        font-weight: semibold;
    }

    .navbar .list .item:nth-child(4) {
        display: none;
    }


    .navbar .sublist {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 0;
        background-color: var(--white);
        width: auto;
        height: auto;
        order: 2;
    }

    .navbar .sublist .item .list {
        display: none;
    }
}