<template id="footer-template">
        <div class="content">
                <div>
                        <div class="title">
                                <h3>Navega<span>ção</span></h3>
                        </div>
                        <ul class="list">
                                <li class="item underline"><a href="/">Início</a></li></br>
                                <li class="item underline"><a href="#">Mais vendidas</a></li></br>
                                <li class="item underline"><a href="#">Kits</a></li></br>
                        </ul>
                </div>

                <div>
                        <div class="title">
                                <h3>Refeiç<span>ões</span></h3>
                        </div>
                        <div class="list-refeicoes">
                                <ul class="list">
                                        <li class="item underline"><a href="#">Básica</a></li></br>
                                        <li class="item underline"><a href="#">Vegana</a></li></br>
                                        <li class="item underline"><a href="#">Emagrecimento</a></li></br>
                                </ul>
                                <ul class="list">
                                        <li class="item underline"><a href="#">Ganho de massa</a></li></br>
                                        <li class="item underline"><a href="#">Manut. de peso</a></li></br>
                                </ul>
                        </div>

                </div>
                <div>
                        <div class="title">
                                <h3>Informaç<span>ões</span></h3>
                        </div>
                        <ul class="list">
                                <li class="item underline"><a href="#">Sobre a Vendifit</a></li></br>
                                <li class="item underline"><a href="#">Seja um parceiro</a></li></br>
                                <li class="item underline"><a href="#">Fale conosco</a></li></br>
                        </ul>
                </div>
        </div>
        <div class="title">
                <h3>Soc<span>ial</span></h3>
        </div>
        <ul class="list list-social">
                <li class="item">
                        <a href="#"><img class="icon" src="../../../public/assets/img/icons/facebook.svg" alt="Facebook"></a>
                        <a href="#"><img class="icon" src="../../../public/assets/img/icons/instagram.svg" alt="Instagram"></a>
                        <a href="#"><img class="icon" src="../../../public/assets/img/icons/x.svg" alt="X"></a>
                </li>
                <li class="item logo">
                        <a href="/">
                                <img src="../../../public/assets/img/icons/logo.png" alt="Vendifit">
                        </a>
                </li>
        </ul>
        <p class="copy">Vendifit &copy; 2025 - Todos os direitos reservados</p>
</template>
