<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Vendifit - Refeições Fitness">
    <meta property="og:description"
        content="Encontre as melhores refeições fitness para sua rotina. Retire direto nas academias.">
    <meta property="og:image" content="https://daancruz.github.io/vendifit/public/assets/img/icons/logo.png">
    <meta property="og:url" content="https://daancruz.github.io/vendifit/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pt_BR">

    <title>Vendifit | Categorias</title>
    <link rel="stylesheet" href="../src/assets/css/main.css">

    <script src="../config/path.js"></script>
    <script type="module" src="../src/components/filter/filter.js" defer></script>
    <script type="module" src="../src/assets/js/allCategories.js" defer></script>
    <script type="module" src="../src/components/cards/kit/cardKit.js" defer></script>
</head>

<body data-page="allCategories">
    <header class="header">
        <!-- RENDERIZAÇÃO -->
    </header>

    <section class="banner">
        <img src="" alt="Banner" data-banner="principal">
    </section>

    <main id="main">
        
    </main>

    <footer class="footer">
        <!-- RENDERIZAÇÃO -->
    </footer>
</body>

</html>